/********************* COMMON **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2.5rem;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.5rem;
}

.font-xl {
  font-size: 3.5rem;
  font-weight: bold;
}

.font-xxl {
  font-size: 4.5rem;
  font-weight: bold;
}

nav,
.nav-left,
.nav-right,
.demo-box,
.demo-card,
.planning-box,
.planning-card,
.icon-circle {
  border: 2px dashed black;
}

/********************* HEADER **********************/
/* NAV BAR */
nav {
  background-color: #0084fd;
  padding: 0 2.5rem;
  flex-direction: row;
}

.nav-left {
  width: 50%;
  padding: 1.5rem 0;
}

.nav-right {
  width: 50%;
  text-align: right;
  margin: auto 0;
}

.logo {
  width: 6.5rem;
}

.nav-link {
  display: none;
}

.mobile-menu {
  color: white;
  font-size: 2rem;
}

/********************** MAIN ***********************/

/* DEMO SECTION */
.demo-box {
  padding-top: 2.5rem;
  gap: 2rem;
}

.demo-card {
  padding: 2.5rem;
  background-color: #b5ddff;
  border-radius: 1rem;
}

.demo-img {
  width: 15rem;
}

/* PLANNING SECTION */
.planning-box {
  gap: 2rem;
  background-color: #9792e4;
}

.planning-card {
  padding: 2.5rem;
  border-radius: 3rem;
  background-color: white;
}

.icon-circle {
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.3rem;
  background-color: #9792e4;
  border-radius: 50%;
}

/* TESTIMONIAL SECTION */
.testimonial-box {
  gap: 2rem;
}

.testimonial-card {
  padding: 2.5rem;
  border-radius: 3rem;
  background-color: #9792e4;
}

/* BENEFIT SECTION */
.benefit-box {
  gap: 2rem;
  background-color: #9792e4;
}

.benefit-card {
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: white;
}

/* ABOUT US SECTION */

/********************* FOOTER **********************/
.footer-top {
  background-color: #9792e4;
  color: white;
}

.footer-top a {
  color: white;
}

.footer-bottom {
  background-color: #222;
  color: white;
}

.footer-bottom a {
  color: #9792e4;
}
