/********************* COMMON **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

.font-xl {
  font-size: 3.5rem;
  font-weight: bold;
}

.purple-btn,
.blue-btn {
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  border-style: none;
}

.circled-img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

.violet {
  color: #9792e4;
}

.violet-back {
  background-color: #9792e4;
}

/********************* HEADER **********************/
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* NAV BAR */
nav {
  background-color: #0084fd;
  margin: 0 auto;
}
.nav-container {
  padding: 0 2rem;
  flex-direction: row;
}

.nav-left {
  width: 50%;
  padding: 0.5rem 0;
}

.nav-right {
  width: 50%;
  text-align: right;
  margin: auto 0;
}

.logo {
  width: 6rem;
}

.nav-link {
  display: none;
}

.mobile-menu {
  color: white;
  font-size: 2rem;
}

/********************** MAIN ***********************/

/* DEMO SECTION */
.demo-box {
  padding-top: 2.5rem;
  gap: 2rem;
  line-height: 1.8rem;
}

.demo-card-big {
  padding: 2.5rem 2.5rem 0 2.5rem;
  background-color: #b5ddff;
  border-radius: 1rem;
  position: relative;
  min-height: 44rem;
}

.demo-card {
  padding: 2rem;
  background-color: #b5ddff;
  border-radius: 1rem;
  text-align: center;
}

.demo-img {
  width: 16rem;
  position: absolute;
  bottom: 0;
  left: 1.9rem;
}

.demo-box h3 {
  color: #0084fd;
  margin-bottom: 2rem;
}

.demo-card i {
  color: #0084fd;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.blue-btn {
  background-color: #0084fd;
  padding: 0.8rem 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-top: 2rem;
}

/* PLANNING SECTION */
.planning-box {
  gap: 2rem;
  line-height: 1.8rem;
}

.planning-card {
  padding: 2rem;
  border-radius: 3rem;
  background-color: white;
  text-align: center;
}

.planning-card h3 {
  margin-top: 1.8rem;
}

.icon-circle {
  width: 3rem;
  height: 3rem;
  padding-top: 0.3rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.fa-arrow-down-long {
  position: absolute;
  top: 1rem;
  right: 1.12rem;
}

.planning-top {
  color: white;
}

.planning-top img {
  width: 100%;
}

.planning-top h2 {
  margin: 5rem 0 3.5rem 0;
}

.planning-top-txt {
  margin-bottom: 2rem;
}

.planning-card img {
  width: 100%;
}

.planning-card-txt {
  margin: 1.8rem 0;
}

/* TESTIMONIAL SECTION */
.testimonial-box {
  gap: 2rem;
  text-align: center;
}

.testimonial-box p {
  margin: 1.5rem 0;
  line-height: 1.8rem;
}

.testimonial-box h2 {
  margin: 2.5rem 0;
}

.testimonial-card {
  padding: 2rem;
  border-radius: 3rem;
  color: white;
}

.quote-icon {
  font-size: 1.5rem;
}

/* BENEFIT SECTION */
.benefit-box .container {
  gap: 2rem;
}

.benefit-box p {
  line-height: 1.8rem;
}

.benefit-card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.benefit-box h2 {
  padding: 4rem 1rem 0 1rem;
  color: white;
  text-align: center;
}

.benefit-box h3 {
  margin: 1.8rem 0;
}

.benefit-box .purple-btn {
  padding: 0.8rem 3.4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-top: 2rem;
}

/* ABOUT US SECTION */
.about-us-txt {
  margin: 3rem 0;
  line-height: 2rem;
}

.about-us-bottom h2 {
  line-height: 3rem;
  margin: 1.8rem 0;
}

.about-us-bottom .purple-btn {
  padding: 0.6rem 1.2rem;
}

.about-us-img {
  position: relative;
}

.quote-icon-big {
  font-size: 5rem;
  position: absolute;
  right: 0;
}

/********************* FOOTER **********************/
footer {
  text-align: center;
}

/* FOOTER TOP */
.footer-top {
  color: white;
}

.footer-top h2,
.footer-top h3,
.footer-top p {
  padding: 1rem 0;
}

.font-xxl {
  font-size: 4.5rem;
  font-weight: bold;
  color: #fdc15f;
}

.footer-top-txt {
  line-height: 2rem;
}

.footer-top button {
  background-color: white;
  padding: 1.8rem 5.8rem;
  font-size: 1.2rem;
  border-radius: 2.5rem;
  border-style: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 1.5rem 0;
}

.footer-top a {
  color: white;
}

/* FOOTER BOTTOM */
.footer-bottom {
  background-color: #222;
  color: white;
  padding: 2rem;
}

.footer-bottom-txt {
  margin-bottom: 4rem;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

/********************* RESPONSIVE **********************/

/****** TABLET ******/
@media screen and (min-width: 700px) {
  /****** MAIN ******/
  /* DEMO SECTION */
  .demo-box {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .demo-card-big {
    width: calc((100% / 1.5) - 0.8rem);
    min-height: 38rem;
  }

  .demo-card {
    width: calc((100% / 3) - 1.4rem);
  }

  /* PLANNING SECTION */
  .planning-top h2 {
    font-size: 4rem;
  }

  /* TESTIMONIAL SECTION */
  .testimonial-card {
    flex-direction: row;
    text-align: left;
  }

  .testimonial-txt {
    margin-left: 2rem;
  }

  /* BENEFIT SECTION */
  .benefit-box .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefit-card {
    width: calc((100% / 2) - 1rem);
  }

  /* ABOUT US SECTION */
  .about-us-box {
    flex-direction: row;
    gap: 5rem;
    padding: 4rem;
  }

  /****** FOOTER ******/
  .footer-top-txt {
    margin: 0 20%;
  }

  .footer-container {
    width: 500px;
  }
}

/****** DESKTOP ******/
@media screen and (min-width: 1140px) {
  /****** COMMON ******/
  .container {
    width: 1140px;
    margin: 0 auto;
  }

  /****** HEADER ******/
  /* NAV BAR */
  .nav-link {
    display: block;
  }

  .nav-link a {
    text-decoration: none;
    padding: 0 0.5rem;
    color: white;
  }

  .mobile-menu {
    display: none;
  }

  .nav-button {
    border-style: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }

  .nav-container {
    width: 1140px;
    padding: 0 2rem;
    margin: 0 auto;
  }

  /****** MAIN ******/
  /* DEMO SECTION */
  .demo-card-big {
    display: flex;
    min-height: 100%;
  }

  .demo-card-big-txt {
    width: 60%;
  }

  .demo-card-big-img {
    width: 40%;
    position: relative;
  }

  .demo-img {
    left: 0;
  }

  /* PLANNING SECTION */
  .planning-box .container {
    flex-direction: row;
    width: 850px;
    gap: 5rem;
    padding: 5rem 0;
  }

  .planning-top h2 {
    font-size: 2rem;
  }

  .planning-top {
    width: 50%;
  }

  .planning-card {
    height: 100%;
    width: 50%;
    margin-top: 7.5rem;
  }

  .planning-card img {
    width: 70%;
  }

  /* BENEFIT SECTION */
  .benefit-card {
    width: calc((100% / 3) - 1.4rem);
  }
}
